{%  extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="text-align: center">
        <img src="{% static 'images/img3.jpg' %}">
        <img src="{% static 'images/img4.jpg' %}">
        <img src="{% static 'images/bm3.jpg' %}">
        <img src="{% static 'images/bm4.jpg' %}">
        <img src="{% static 'images/bm5.jpg' %}">
        <img src="{% static 'images/bzmh1.jpg' %}">
        <img src="{% static 'images/bzmh2.jpg' %}">
        <img src="{% static 'images/bzmh5.jpg' %}">
        <img src="{% static 'images/bzmh6.jpg' %}">
        <img src="{% static 'images/bzmh9.jpg' %}">
        <img src="{% static 'images/img1.jpg' %}">
        <img src="{% static 'images/img2.jpg' %}">
    </div>
{% endblock %}